In [2]:
import pandas as pd

In [3]:
def get_age(name):
    df = pd.read_excel("test.xlsx", sheet_name="Sheet1", headers=True)
    print("*"*20)
    print(df)
    print("*"*20)
    
    rows, cols = df[df['Name']==name].shape
    print(rows, cols, "^^^")
    if rows==1:
        age = df[df['Name']==name]['Age'][0]
        return age
    else:
        return -1
    
def get_all_above_age(age):
    df = pd.read_excel("test.xlsx", sheet_name="Sheet1", headers=True)
    df_filter = df[(df['Profession'].str.contains("Developer")) & (df['Age']>age)]
    print("&&&&&&&&&&&&&&&&")
    print(df_filter)
    print("&&&&&&&&&&&&&&&&")
    return df_filter.to_json(orient='records')


def get_2_values(name):
    return (name,str(get_age(name)))

In [37]:
df.dtypes

Name          object
Age            int64
Profession    object
dtype: object

In [4]:
print(get_age("Ram"))

print(get_all_above_age(25))

print(get_2_values("Ram"))

********************
    Name  Age       Profession
0    Ram   20          Student
1  Shyam   34        Architect
2  Mohan   35  Product Manager
3  Sohan   46          Manager
4  Rohan   28        Developer
5    Raj   27        Developer
********************
1 3 ^^^
20
&&&&&&&&&&&&&&&&
    Name  Age Profession
4  Rohan   28  Developer
5    Raj   27  Developer
&&&&&&&&&&&&&&&&
[{"Name":"Rohan","Age":28,"Profession":"Developer"},{"Name":"Raj","Age":27,"Profession":"Developer"}]
********************
    Name  Age       Profession
0    Ram   20          Student
1  Shyam   34        Architect
2  Mohan   35  Product Manager
3  Sohan   46          Manager
4  Rohan   28        Developer
5    Raj   27        Developer
********************
1 3 ^^^
('Ram', '20')